@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

/* BUTTONS */
.button-border {
  @apply transition-200 rounded-sm border border-gray-700 px-2  py-1 hover:border-white;
}

.button-border-invert {
  @apply transition-200 rounded-sm border border-gray-500 bg-gray-50  px-2 py-1 text-black  hover:bg-black hover:text-gray-50;
}

.button-border-disabled {
  @apply rounded-sm border border-gray-500 px-2  py-1 opacity-80;
}

.button-background {
  @apply transition-200 rounded-sm border border-white/0 px-2  py-1 text-slate-200 hover:bg-slate-700/40 hover:text-white;
}

.button-outline {
  @apply transition-200 rounded border border-gray-500 hover:border-white;
}

/* TRANSITIONS */
.transition-200 {
  @apply transition duration-200 ease-out;
}

.transition-500 {
  @apply transition duration-500 ease-in-out;
}

/* CDMK */

.cdmk-group-header {
  @apply overflow-hidden text-ellipsis whitespace-nowrap px-4 pt-8 text-sm text-gray-400;
}

.cdmk-item {
  @apply border-l border-transparent py-4  text-gray-100  aria-selected:border-gray-200 aria-selected:bg-gray-700/50;
}

.cdmk-label {
  @apply flex items-baseline space-x-2 text-white;
}

.cdmk-subLabel {
  @apply hidden  text-gray-400 group-aria-selected:block;
}

.cdmk-icon-wrapper {
  @apply flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md;
}
.cdmk-icon {
  @apply h-7 w-7 p-1;
}

/* ICONS */

.icon-red {
  @apply bg-gradient-to-br from-red-500 to-red-900;
}
.icon-emerald {
  @apply bg-gradient-to-br from-emerald-400 to-cyan-900;
}
.icon-fuchsia {
  @apply bg-gradient-to-br from-fuchsia-500 to-pink-900;
}
.icon-blue {
  @apply bg-gradient-to-br from-[#2f6eeb] to-blue-800;
}
.icon-purple {
  @apply bg-gradient-to-br from-purple-500  to-pink-900;
}
.icon-teal {
  @apply bg-gradient-to-br from-teal-500  to-blue-900;
}
.icon-gray {
  @apply bg-gradient-to-br from-gray-500  to-gray-900;
}
.icon-gpt {
  @apply bg-gradient-to-br from-[#4aa181] to-emerald-900;
}
